<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 footer-widget footer__copy">
                <div class="footer__logo footer-widget">
                    <a href="/" class="logo-title logo-title_reg animate">Blog</a>
                </div>
                <div class="textwidget">
                    <p>Eveything you need to know</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 footer-widget footer__page-menu">
                <div class="widget-menu">
                    <ul class="footer-menu animate">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 footer-widget footer__cat-menu">
                <div class="widget-menu">
                    <ul class="footer-menu animate">
                        <li><a href="/news">Tech News</a></li>
                        <li><a href="/phones">Phones</a></li>
                        <li><a href="/apple">Apple</a></li>
                        <li><a href="laptops">Laptops</a></li>
                        <li><a href="/gadgets">Gadgets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 footer-widget footer__social-menu">
            </div>
        </div>

        <div class="row page-footer__bottom">
            <div class="col-lg-10">
                <div class="copyright">&copy; 2020, All Rights Reserved.</div>
            </div>
            <div class="col-lg-2">
                <div class="footer-nav nav">
                    <li class="nav-item">
                        <a href="#" class="nav-item">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-item">Terms of use</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</footer>