<div class="top-bar">
    <div class="top-bar__widgets">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-4">

            </div>
            <div class="col-md-2 col-lg-4">
                <div class="top-bar__logo text-lg-center">
                    <a href="/" class="logo-title logo-title_reg">BLOG</a>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">

            </div>
        </div>
    </div>
    <div class="mob-menu">
        <div id="mob-toggle" class="animate"><i class="icon icon-lg flaticon-menu-options"></i></div>
    </div>
</div>